html,body {
  margin:0;
  padding:0;
}
.container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  box-sizing: border-box;
}
#global-header {
  height:80px;
  position:fixed;
  top:0; left:0; right:0;
  background-color:#00ff00;
}
#global-header .container {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.logo {
  float:left;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  height:60px;
  width:300px;
  background-color:orange;
}
#top-nav {
  margin:0;
  padding:0;
  list-style:none;
  float:right;
}
#top-nav::after {
  content:'';
  display:block;
  clear:both;
}
#top-nav li {
  float:left;
  margin-right:30px;
}
#top-nav li:last-of-type {
  margin-right:0;
}
#top-nav-toggle {
  display:none;
  float:right;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  height:60px;
  width:60px;
  background-color:#0000ff;
}
/*RESPONSIVE*/
#global-header.responsive #top-nav-toggle {
  display:block;
}
#global-header.responsive #top-nav {
  display:none;
}
